@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.balloon {
  position: absolute;
  width: 50px;
  height: 70px;
  background-color: pink;
  border-radius: 50%;
  animation: floatUp 5s ease-in-out infinite;
}

.balloon::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: white;
  transform: translateX(-50%);
}

@keyframes floatUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.princess-sofia-regular {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
